.mainDiv{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.languageProfileDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}
.settingsDiv{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}
.settingsDiv1{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.settingsDiv2{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.alert{
    width: 375px;
}