.contentDiv{
    width: 80%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mainDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
}
.languageProfileDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}
.settingsDiv{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.alert{
    width: 375px;
}